<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div appWidth class="container-fluid">
      <div class="d-flex navbar-collapse">
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="user d-flex navbar-collapse collapse justify-content-md-around"
        >
          <div class="dropdown user-info">
            <a
              href="#"
              class="
                d-flex
                align-items-center
                text-decoration-none
                dropdown-toggle
                user-name
              "
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="user-icon"></div>
              <span class="user-name">{{ userName }}</span>
            </a>
            <ul
              class="dropdown-menu text-small"
              aria-labelledby="dropdownUser1"
              style=""
            >
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
          <button
            routerLink="/auth"
            type="button"
            class="btn btn-outline-primary me-2"
          >
            Войти
          </button>
        </div>
      </div>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cinemas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sessions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
