<mat-form-field
  *ngIf="url[url.length - 1] === 'cinemas'"
  class="custom-form-field"
  appearance="fill"
>
  <mat-label>Type Of Seat</mat-label>
  <mat-select>
    <mat-option (click)="addTypeOfSeat()"
      ><span>+</span>
      &nbsp;
      <p>Add new type of seat</p></mat-option
    >
    <div class="custom-select" *ngFor="let v of value">
      <mat-option
        (click)="changeTypeOfSeat(v)"
        class="custom-option"
        [value]="v"
      >
        {{ v.name }} / {{ v.extraPaymentPercent }}%
      </mat-option>
      <i class="material-icons" type="button" (click)="deleteTypeOfSeat(v)">
        delete
      </i>
    </div>
  </mat-select>
</mat-form-field>

<mat-form-field
  *ngIf="url[url.length - 1] === 'sessions'"
  class="custom-form-field"
  appearance="fill"
>
  <mat-label>Service</mat-label>
  <mat-select>
    <mat-option (click)="editAmenities()"> <p>Edit service list</p></mat-option>
    <div *ngFor="let v of value[0].affortableAmenities">
      <mat-option [value]="v">
        {{ v.name }} / {{ v.extraPaymentPercent }}% /
        {{
          (
            parseFloat(v.cost) +
            parseFloat(v.cost) * (v.extraPaymentPercent / 100)
          ).toFixed(2)
        }}
        BYN
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
