<div class="container">
  <header class="d-flex justify-content-lg-end py-1 justify-content-around">
    <div class="dropdown me-2 mt-2">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        parhimarsen@mail.ru
      </a>
      <ul
        class="dropdown-menu text-small"
        aria-labelledby="dropdownUser1"
        style=""
      >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    <button
      routerLink="/auth"
      type="button"
      class="btn btn-outline-primary me-2"
    >
      Войти
    </button>
  </header>
</div>
<div class="search">
  <form class="d-flex justify-content-sm-between bg-white">
    <input type="search" placeholder="Поиск" aria-label="Search" />
  </form>
</div>
