<div class="container">
  <header class="d-flex justify-content-lg-end py-1 justify-content-around">
    <div class="dropdown me-2 mt-2">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{userName}}
      </a>
      <ul
        class="dropdown-menu text-small"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="#" (click)="logOut()">Sign out</a></li>
      </ul>
    </div>
  </header>
</div>
<div class="search">
  <form class="d-flex justify-content-sm-between bg-white">
    <input type="search" placeholder="Поиск" aria-label="Search" />
  </form>
</div>
