<div class="modal-header">
  <h3 class="modal-title pull-left">{{ modalHeaderText }}</h3>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  *ngIf="typeOfEvent === 'Add TypeOfSeat' || typeOfEvent === 'Edit TypeOfSeat'"
  class="d-flex flex-column align-items-center"
  [formGroup]="formGroup"
>
  <div class="d-flex justify-content-around w-100 mt-3">
    <div class="d-flex flex-column">
      <span class="mb-2">Name:</span>
      <div>
        <mat-form-field class="example-form-field" appearance="fill">
          <input
            [(ngModel)]="name"
            formControlName="name"
            matInput
            [placeholder]="placeholderName"
            type="text"
            (click)="onClick.emit($event)"
          />
        </mat-form-field>
        <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </div>
    </div>
    <div class="d-flex flex-column">
      <span class="mb-2">Extra Payment Percent (%):</span>
      <div>
        <mat-form-field class="example-form-field" appearance="fill">
          <input
            [(ngModel)]="extraPaymentPercent"
            formControlName="extraPaymentPercent"
            matInput
            [placeholder]="placeholderExtraPaymentPercent"
            type="number"
            (keypress)="maxLength()"
            min="-100"
            max="100000"
            size="8"
            (click)="onClick.emit($event)"
          />
        </mat-form-field>
        <mat-error>
          <span
            *ngIf="
              formGroup.controls['extraPaymentPercent'].hasError('required')
            "
            >ExtraPaymentPercent is <strong>required</strong></span
          >
          <span
            *ngIf="formGroup.controls['extraPaymentPercent'].hasError('max')"
          >
            Maximum <strong>required</strong> is <strong>1000%</strong></span
          >
          <span
            *ngIf="formGroup.controls['extraPaymentPercent'].hasError('min')"
          >
            Minimum <strong>required</strong> percent is
            <strong>-100%</strong></span
          >
        </mat-error>
      </div>
    </div>
  </div>
  <button
    *ngIf="typeOfEvent === 'Add TypeOfSeat'"
    class="btn btn-primary m-3 w-25"
    [disabled]="!formGroup.valid"
    (click)="addTypeOfSeat()"
  >
    Add new
  </button>
  <button
    *ngIf="typeOfEvent === 'Edit TypeOfSeat'"
    class="btn btn-primary m-3 w-25"
    [disabled]="!formGroup.valid"
    (click)="editTypeOfSeat()"
  >
    Save
  </button>
</form>
<div *ngIf="typeOfEvent === 'Edit Amenities'">
  <div *ngFor="let v of value" class="d-flex justify-content-around w-100 mt-3">
    <section class="example-section">
      <mat-checkbox
        name="v.isChecked"
        ngDefaultControl
        class="example-margin"
        [(ngModel)]="v.isChecked"
        (change)="checkAmenity(v, $event)"
      ></mat-checkbox>
    </section>
    <div class="d-flex flex-column">
      <span class="mb-2">Name:</span>
      {{ v.name }}
    </div>
    <div class="d-flex flex-column">
      <span class="mb-2">Cost:</span>
      {{ v.cost }}
    </div>
    <div class="d-flex flex-column">
      <span class="mb-2">Extra Payment Percent (%):</span>
      <div>
        <mat-form-field class="example-form-field" appearance="fill">
          <input
            #inputValue
            [(ngModel)]="v.extraPaymentPercent"
            matInput
            [placeholder]="placeholderExtraPaymentPercent"
            type="number"
            (keyup)="maxLengthForAmenities(v)"
            (keydown)="maxLengthForAmenities(v)"
            (focusout)="setZero(v)"
            min="-100"
            max="100000"
            size="8"
            (click)="onClick.emit($event)"
            [disabled]="v.isChecked"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column w-15">
      <span class="mb-2">Total:</span>
      {{
        (
          parseFloat(v.cost) +
          parseFloat(v.cost) * (v.extraPaymentPercent / 100)
        ).toFixed(2)
      }}
      BYN
    </div>
  </div>
  <div class="mt-4"></div>
</div>
