a{
    text-decoration: none;
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.08);
    min-height: 100%;
}

.model{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentHeader{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 24px 40px 0 40px;
    border-radius: 8px;
    background-color: white;
}

.tabsItem{
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1 1 50%;
    padding: 0 0 16px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0,0,0,0.48);
}

.tabsItem{
    color: #000;
}

.tabsItem.active {
    border-color: white;
    border-bottom-color: #1b8dfb;
}

.tabsItem:hover {
    border-top-color: white;
    border-left: white;
    border-right: white;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 24px;
}

.socialBefore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.socialBeforeLabel{
    background-color: #fff;
    padding: 0 12px;
    font-size: 15px;
    line-height: 21px;
    color: rgba(0,0,0,0.48);
    width: 100%;
}

.line {
    border-top: 1px solid rgba(0,0,0,0.08);
    width: 50%;
}

.socialList{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.socialItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 50%;
    margin: 0 4px;
    border-radius: 2px;
    background: url(../../../../images/google.svg) no-repeat center center;
    background-color: #e9ecfc;
    background-size: 24px 24px;
    cursor: pointer;
}

.faceBook{
    background-color: #3b5999;
    background-image: url(../../../../images/fb.png);
}

.backButton{
    padding: 16px 16px 16px 0;
    display: inline-flex;
    flex-wrap: nowrap;
    align-self: flex-start;
    font-size: 15px;
    line-height: 24px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

img, svg{
    vertical-align: top; 
}

.backButtonIcon{
    width: 24px;
    height: 24px;
    background-color: #c1c2c7;
    border-radius: 50%;
    margin-right: 8px;
}

.backButtonIcon svg{
    transform: rotate(180deg);
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eb273a;
    width: 60%;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
}

.error p{
    margin: 0;
    padding: 0px 10px 15px 10px;
}

.close{
    height: 50%;
    border-radius: 8px;
    align-self: flex-end;
    border: 0;
    background-color: white;
}

.close span{
    font-size: 18px;
}

:host ::ng-deep .mat-form-field-flex {
    width: 90% !important;
    background-color: white;
    padding: 0 !important;
    border: 0;
}

:host ::ng-deep .mat-form-field-infix {
    padding: 0 !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-right: 0 !important;
}

:host ::ng-deep .mat-input-element {
    width: 100% !important;
    color: #212529;
    border: 1px solid #ced4da;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    border-radius: .25rem;
    padding: 12px 16px !important;
    box-sizing: border-box !important;
}

:host ::ng-deep .mat-input-element[aria-invalid="true"] {
    border-color: #dc3545;
}

:host ::ng-deep .mat-error{
    height: 20px;
    color: #dc3545;
}

:host ::ng-deep .mat-form-field-underline{
    width: 0%;
    transform: scale3d(0, 0, 0) !important;
}
