<div class="root">
  <div class="model container">
    <div
      *ngIf="
        authFormComponent.isSessionExpired ||
        authFormComponent.isWrongLoginorPassword
      "
      class="error"
    >
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="
          authFormComponent.isSessionExpired = false;
          authFormComponent.isWrongLoginorPassword = false
        "
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p *ngIf="authFormComponent.isSessionExpired">Your session has expired</p>
      <p *ngIf="authFormComponent.isWrongLoginorPassword">
        Wrong Login or Password
      </p>
    </div>
    <div class="contentHeader bd-example">
      <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
          <button
            class="nav-link tabsItem active"
            id="nav-login-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-login"
            type="button"
            role="tab"
            aria-controls="nav-login"
            aria-selected="true"
          >
            Sign in
          </button>
          <button
            class="nav-link tabsItem"
            id="nav-register-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-register"
            type="button"
            role="tab"
            aria-controls="nav-register"
            aria-selected="false"
          >
            Registration
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade active show"
          id="nav-login"
          role="tabpanel"
          aria-labelledby="nav-login-tab"
        >
          <div class="contentWrapper">
            <custom-form
              [formGroup]="loginForm"
              (onSubmit)="login($event)"
            ></custom-form>
            <div class="socialBefore">
              <div class="line"></div>
              <span class="socialBeforeLabel">another options</span>
              <div class="line"></div>
            </div>
            <div class="socialList">
              <a class="socialItem"></a>
              <a class="socialItem faceBook"></a>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-register"
          role="tabpanel"
          aria-labelledby="nav-register-tab"
        >
          <div class="contentWrapper">
            <custom-form
              [formGroup]="registrationForm"
              (onSubmit)="register($event)"
            ></custom-form>
            <div class="socialBefore">
              <div class="line"></div>
              <span class="socialBeforeLabel">another options</span>
              <div class="line"></div>
            </div>
            <div class="socialList">
              <a class="socialItem"></a>
              <a class="socialItem faceBook"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
