<nav class="navbar navbar-expand-md bg-custom">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ДАТА
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ЖАНР
      </a>
    </li>
  </ul>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a href="#" class="link-light">МИНСК</a>
    </li>
    <li class="nav-item"><a href="#" class="link-light">БРЕСТ</a></li>
    <li class="nav-item">
      <a href="#" class="link-light">ВИТЕБСК</a>
    </li>
    <li class="nav-item"><a href="#" class="link-light">ГОМЕЛЬ</a></li>
    <li class="nav-item"><a href="#" class="link-light">ГРОДНО</a></li>
    <li class="nav-item">
      <a href="#" class="link-light">МОГИЛЁВ</a>
    </li>
  </ul>
</nav>
