<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <div [formGroup]="formGroup">
    <input
      #inputValue
      formControlName="value"
      matInput
      [matDatepicker]="picker"
      [name]="cell.getId()"
      [disabled]="!cell.isEditable()"
      (keyup)="validate($event)"
      (click)="onClick.emit($event)"
      (keydown.enter)="onEdited.emit($event)"
      (keydown.esc)="onStopEditing.emit()"
    />
  </div>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <div [hidden]="true" [innerHTML]="cell.getValue()" #htmlValue></div>
</mat-form-field>

<mat-error *ngIf="formGroup.controls['value'].hasError('required') && isAdded">
  <span>{{ cell.getTitle() }}</span> is <strong>required</strong>
</mat-error>
