<form
  [formGroup]="formGroup"
  class="d-flex flex-column w-100 align-items-center"
  (ngSubmit)="submit()"
>
  <div *ngFor="let control of controls">
    <custom-input
      [control]="control"
      [placeholder]="control.placeholder"
      [type]="control.type"
      [matcher]="control.matcher"
    ></custom-input>
  </div>
  <mat-error *ngIf="formGroup.hasError('confirmedValidator')">
    Password and Confirm Password must be match
  </mat-error>
  <div class="formOptions">
    <a>Forgot password</a>
  </div>
  <input
    class="button"
    type="submit"
    value="{{ nameOfForm[0].toUpperCase() + nameOfForm.slice(1, -8) }}"
  />
</form>
