<main class="d-flex container flex-column">
  <h3>6 июля, вторник</h3>
  <hr />
  <div class="schedule">
    <div class="schedule-item">
      <div class="cinema">
        <a>Беларусь</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:30</a>
            </div>
            <div class="session">
              <a>15:00</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:40</a>
            </div>
            <div class="session">
              <a>15:40</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="schedule-item">
      <div class="cinema">
        <a>Аврора</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:00</a>
            </div>
            <div class="session">
              <a>20:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>12:30</a>
            </div>
            <div class="session">
              <a>16:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="schedule-item">
      <div class="cinema">
        <a>Берестье</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:00</a>
            </div>
            <div class="session">
              <a>20:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>12:30</a>
            </div>
            <div class="session">
              <a>16:00</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Лука</a>
            <p class="description">мультфильм, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Чёрная Вдова</a>
            <p class="description">фантастика, боевик, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:30</a>
            </div>
            <div class="session">
              <a>12:20</a>
            </div>
            <div class="session">
              <a>13:30</a>
            </div>
            <div class="session">
              <a>16:10</a>
            </div>
            <div class="session">
              <a>17:00</a>
            </div>
            <div class="session">
              <a>18:50</a>
            </div>
            <div class="session">
              <a>19:30</a>
            </div>
            <div class="session">
              <a>21:30</a>
            </div>
            <div class="session">
              <a>22:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <h3>7 июля, среда</h3>
  <hr />
  <div class="schedule">
    <div class="schedule-item">
      <div class="cinema">
        <a>Беларусь</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:30</a>
            </div>
            <div class="session">
              <a>15:00</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:40</a>
            </div>
            <div class="session">
              <a>15:40</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="schedule-item">
      <div class="cinema">
        <a>Аврора</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:00</a>
            </div>
            <div class="session">
              <a>20:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>12:30</a>
            </div>
            <div class="session">
              <a>16:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="schedule-item">
      <div class="cinema">
        <a>Берестье</a>
      </div>
      <div class="events">
        <div class="event">
          <div class="film">
            <a>Думай как собака</a>
            <p class="description">фантастика, семейный, Китай, США 2020</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>10:00</a>
            </div>
            <div class="session">
              <a>20:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Ледяной драйв</a>
            <p class="description">триллер, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>12:30</a>
            </div>
            <div class="session">
              <a>16:00</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Лука</a>
            <p class="description">мультфильм, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:30</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="film">
            <a>Чёрная Вдова</a>
            <p class="description">фантастика, боевик, США, 2021</p>
          </div>
          <div class="sessions">
            <div class="session">
              <a>11:30</a>
            </div>
            <div class="session">
              <a>12:20</a>
            </div>
            <div class="session">
              <a>13:30</a>
            </div>
            <div class="session">
              <a>16:10</a>
            </div>
            <div class="session">
              <a>17:00</a>
            </div>
            <div class="session">
              <a>18:50</a>
            </div>
            <div class="session">
              <a>19:30</a>
            </div>
            <div class="session">
              <a>21:30</a>
            </div>
            <div class="session">
              <a>22:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
